.call
  &--bg
    //min-height: 636px
    background: url('../images/call-bg.png') no-repeat center center scroll
    background-size: cover

  &__block
    +padding-top(5.1875rem /* 83/16 */)
    text-align: center

    .section--title
      +margin-bottom(2.625rem /* 42/16 */)

      @media (max-width: $sm)
        line-height: 50px

  &__form
    display: flex
    justify-content: center
    align-items: center

  &__input
    +rfs(14px)
    +padding(.9375rem /* 15/16 */ 2.8125rem /* 45/16 */)
    +margin-right(2.5rem /* 40/16 */)
    +margin-bottom(.9375rem /* 15/16 */)
    background-color: #fff
    background-clip: padding-box
    border: 1px solid #ECEEF6
    border-radius: 3.6875rem /* 59/16 */
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
    text-align: left
    font-family: 'Montserrat', sans-serif
    font-style: normal
    font-weight: normal
    line-height: 140%
    color: #222222

    @media (max-width: $sm)
      display: block
      margin-right: 0

  &__btn
    +rfs(18px)
    +trans(all ease 0.3s)
    +padding(.9375rem /* 15/16 */ 2.8125rem /* 45/16 */)
    border: 1px solid #ECEEF6
    border-radius: 3.6875rem /* 59/16 */
    background: linear-gradient(180deg, $main-color 0%, #F23F0E 100%), #59AAF1
    box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26)
    font-family: 'Montserrat', sans-serif
    font-style: normal
    font-weight: bold
    line-height: 140%
    text-align: center
    color: #FFFFFF
    cursor: pointer

    &:hover
      background: linear-gradient(180deg, #F23F0E 0%, $main-color 100%), #59AAF1
      box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26)

  &__loader
    width: 25px
    margin-left: .9375rem /* 15/16 */
    vertical-align: middle

  &__success
    +rfs(25px)
    font-family: 'Montserrat', sans-serif
    font-style: normal
    font-weight: normal
    line-height: 140%
    width: 450px
    color: green
    margin: 0 auto
    margin-bottom: 1rem

    @media (max-width: $sm)
      width: 100%


.call-ico
  background: url('../images/button.svg') no-repeat left center
  padding-left: 2.1875rem /* 35/16 */
  margin-left: 1.5625rem /* 25/16 */

.car__block
  +margin-top(5.25rem /* 84/16 */)
  text-align: center

  img
    max-width: 100%
