.footer
  +padding-bottom(3.4375rem /* 55/16 */)

  &__bottom
    display: flex
    justify-content: space-between
    align-items: center

    @media (max-width: $sm)
      flex-direction: column

  &__company
    font-family: Montserrat
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 140%
    color: #000000

    @media (max-width: $sm)
      +margin-bottom(1.875rem /* 30/16 */)

  &__logo
    @media (max-width: $sm)
      +margin-bottom(1.875rem /* 30/16 */)

  &__copyright
    font-family: Montserrat
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 140%
    text-align: right
    color: #000000
