.food
  +margin-bottom(7.5rem /* 120/16 */)

  @media (max-width: $sm)
    margin-bottom: 0

  &--bg
    min-height: 832px
    background: url('../images/food-bg.svg') no-repeat top center
    background-size: 100%
    z-index: -1

  &-categories
    &__nav
      display: flex
      justify-content: center
      flex-wrap: wrap

      @media (max-width: $xs)
        justify-content: space-between

      @media (max-width: $sm)
        justify-content: space-between

      &-link
        +trans(all ease 0.1s)
        +rfs(16px)
        +margin-right(.9375rem /* 15/16 */)
        +padding(15px 45px)
        position: relative
        font-family: 'Montserrat', sans-serif
        text-align: center
        font-style: normal
        font-weight: 600
        background-color: #ECEEF6
        border-radius: 1.875rem /* 30/16 */
        line-height: 140%
        cursor: pointer

        @media (max-width: $xs)
          width: 45%
          margin-right: 0

        @media (max-width: $sm)
          width: 45%
          margin-right: 0
          margin-bottom: 0.5rem
          text-align: center

        @media (max-width: $md)
          margin-bottom: 0.5rem
          text-align: center

        &:hover
          color: #59AAF1

          &::before
            width: 100%

        &.active
          color: #ffffff
          background-color: #59AAF1

    &--nav
      +margin-bottom(3.125rem /* 50/16 */)

  &-block
    display: flex
    justify-content: center
    flex-wrap: wrap
    align-items: center

    @media (max-width: $lg)
      justify-content: center

    @media (max-width: $md)
      justify-content: center

    h4
      +padding(1.5625rem /* 25/16 */ 0 1.5625rem /* 25/16 */)
      +rfs(25px)
      font-family: 'Open Sans', sans-serif
      font-style: normal
      font-weight: normal
      line-height: 27px
      letter-spacing: 0.05em
      text-transform: uppercase
      overflow-wrap: break-word

    &__item
      +trans(all ease 0.3s)
      +margin(0 .9375rem /* 15/16 */)
      display: flex
      justify-content: space-between
      flex-direction: column
      position: relative
      border: .125rem /* 2/16 */ solid $main-color
      width: 22%
      min-height: 25.9375rem /* 415/16 */
      text-align: center
      background-color: $white
      border: 2px solid #ECEEF7
      border-radius: 15px

      @media (max-width: $lg)
        +margin(0 .9375rem /* 15/16 */)
        width: 29%

      @media (max-width: $md)
        +margin(0 .9375rem /* 15/16 */)
        width: 29%

      @media (max-width: $xs)
        text-align: center
        flex-direction: row
        width: 100%
        min-height: auto

      &:hover
        border-color: $main-color

      @media (max-width: $sm)
        min-height: auto
        flex-direction: row
        flex-basis: 100%
        margin: 0

      @media (max-width: $xs)
        flex-basis: 100%

      .is-top
        +padding(.3125rem /* 5/16 */ 1.5625rem /* 25/16 */)
        position: absolute
        top: .625rem /* 10/16 */
        left: 1.1875rem /* 19/16 */
        background-color: $main-color
        border-radius: .3125rem /* 5/16 */
        text-transform: uppercase
        font-family: Montserrat
        font-style: normal
        font-weight: 600
        font-size: 12px
        line-height: 140%
        text-align: center
        color: $white
        box-shadow: 0px 5px 19px 0px rgba(246, 91, 22, 0.2)
        overflow: hidden

      .is-discounted
        +padding(.3125rem /* 5/16 */ 1.5625rem /* 25/16 */)
        position: absolute
        top: .625rem /* 10/16 */
        right: 1.1875rem /* 19/16 */
        background-color: #baaa94
        border-radius: .3125rem /* 5/16 */
        text-transform: uppercase
        font-family: Montserrat
        font-style: normal
        font-weight: 600
        font-size: 12px
        line-height: 140%
        text-align: center
        color: $white
        box-shadow: 0px 5px 19px 0px rgba(246, 91, 22, 0.2)
        overflow: hidden

    &--item
      +margin-bottom(1.9375rem /* 15/16 */)

    &__image
      +padding(2.1875rem /* 35/16 */ 2.8125rem /* 45/16 */ 0)

      @media (max-width: $xs)
        padding: 0
        width: 120px
        object-fit: none

      @media (max-width: $sm)
        padding: 0
        width: 120px
        object-fit: none

    &__desc
      +padding(.9375rem /* 15/16 */)
      width: 100%

      @media (max-width: $xs)
        width: 100%

      @media (max-width: $sm)
        text-align: right

      .top
        +margin-bottom(.5rem /* 8/16 */)
        display: flex
        justify-content: space-between
        align-items: center

        .title
          +rfs(13px)
          font-family: 'Montserrat', sans-serif
          font-style: normal
          font-weight: 700
          line-height: 140%
          color: $black

        .size
          +rfs(12px)
          font-family: 'Montserrat', sans-serif
          font-style: normal
          font-weight: normal
          line-height: 140%
          text-align: right
          color: #000000

      .ingridients
        +margin-bottom(1.1875rem /* 19/16 */)
        font-family: 'Montserrat', sans-serif
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 140%
        min-height: 80px
        text-align: left
        color: #000000

      .price
        +rfs(24px)
        +margin-bottom(1.1875rem /* 19/16 */)
        display: block
        font-family: 'Montserrat', sans-serif
        font-style: normal
        font-weight: 700
        line-height: 140%
        text-align: center
        color: $main-color

        @media (max-width: $xs)
          text-align: right

        @media (max-width: $sm)
          text-align: right

        &__discount
          +rfs(14px)
          text-decoration: line-through
          font-weight: 400
          color: #baaa94


      .add
        +trans(all ease 0.3s)
        +padding(.4375rem /* 7/16 */ 2.1875rem /* 35/16 */)
        background-color: #ECEEF7
        border: 2px solid #cccccc
        border-radius: .9375rem /* 15/16 */
        text-transform: uppercase
        font-family: Montserrat
        font-style: normal
        font-weight: 600
        font-size: 12px
        line-height: 140%
        text-align: center
        color: $black
        cursor: pointer

        &:hover
          background-color: $main-color
          color: $white
          box-shadow: 0px 5px 19px 0px rgba(246, 91, 22, 0.2)

          .cart-ico
            background: url('../images/add-cart-hover.svg') no-repeat left center

        @media (max-width: $sm)
          +padding(.4375rem /* 7/16 */ .9375rem /* 15/16 */)

  &__empty
    margin: 0 auto
    color: $black

    &-text
      +rfs(24px)
      +margin-bottom(1.1875rem /* 19/16 */)
      display: block
      font-family: 'Montserrat', sans-serif
      font-style: normal
      font-weight: 700
      line-height: 140%
      text-align: center
      padding: 0.9375rem calc(1.40625rem + 1.875vw)
      background-color: #ECEEF6
      box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.1)

    img
      display: block
      margin: 0 auto
      width: 50%

.cart-ico
  background: url('../images/add-cart.svg') no-repeat left center
  padding-left: 1.375rem /* 22/16 */

.more
  &-block
    text-align: center

    .btn
      +trans(all ease 0.3s)
      +rfs(18px)
      border: none
      transition: all ease 0.1s
      padding: 0.9375rem calc(1.40625rem + 1.875vw)
      position: relative
      font-family: "Montserrat", sans-serif
      text-align: center
      font-style: normal
      font-weight: 600
      background-color: $main-color
      box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.1)
      border-radius: 1.875rem
      line-height: 140%
      cursor: pointer
      color: $white

      &:hover
        background-color: darken($main-color, 5%)

.loader
  &__circle
    width: 70px
    height: 70px
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    border-radius: 50%
    background-color: $main-color
    box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.1)
