.header
  +rfs(16px)
  font-family: 'Montserrat', sans-serif

  &--bg
    min-height: 832px
    background: url('../images/bg.png') no-repeat center center scroll
    background-size: cover

    @media (max-width: $sm)
      background-position: center right
      min-height: 700px

  &__top
    +padding-top(1.5625rem /* 25/16 */)
    display: flex
    justify-content: space-between
    align-items: center

    @media (max-width: $sm)
      padding-top: 0

    .topmnu
      @media (max-width: $sm)
        display: none

      &__link
        +trans(all ease 0.3s)
        +rfs(16px)
        +margin-right(2.5rem /* 40/16 */)
        font-style: normal
        font-weight: normal
        line-height: 20px
        color: $black

        @media (max-width: $md)
          +margin-right(.625rem /* 10/16 */)

        &:hover
          text-decoration: underline

        &:last-child
          margin-right: 0

          @media (max-width: $md)
            display: block



    .logo
      +trans(all ease 0.3s)

      @media (min-width: $lg)
        width: 180px

      @media (max-width: $md)
        order: -1

      @media (max-width: $sm)
        width: 70px

    .contact
      +trans(all ease 0.3s)
      display: flex
      align-items: center

      &__workhours
        +margin-right(3.125rem /* 50/16 */)

        @media (max-width: $sm)
          display: none

        @media (max-width: $md)
          display: none
          margin-right: 0

      &__phone
        +rfs(18px)
        display: flex
        align-items: center
        font-style: normal
        font-weight: bold
        line-height: 22px
        color: $black

        @media (max-width: $sm)
          +rfs(14px)

        .callphone
          //+margin-right(.3125rem /* 5/16 */)

          @media (max-width: $sm)
            margin-right: 0

        .number
          +margin-top(-.625rem /* 10/16 */)

.hero
  +padding-top(7.8125rem /* 125/16 */)
  position: relative
  text-align: center

  &__title
    +rfs(48px)
    +margin-bottom(1.125rem /* 18/16 */)
    font-family: 'Montserrat', sans-serif
    font-style: normal
    font-weight: bold
    line-height: 59px
    text-align: center
    color: $black

    @media (max-width: $sm)
      line-height: 35px

  &__subtitle
    +rfs(18px)
    +margin-bottom(6.25rem /* 100/16 */)
    font-family: 'Montserrat', sans-serif
    font-style: normal
    font-weight: normal
    line-height: 140%
    text-align: center
    color: $black

.pizza
  &__block
    position: absolute
    left: 50%
    transform: translate(-50%, 0)

    img
      max-width: 650px
      @media (max-width: $sm)
        max-width: 350px

  &__tooltip
    +trans(all ease 0.3s)
    position: absolute
    opacity: .0
    text-align: right
    top: -5rem
    right: -3rem

    &--price
      +rfs(16px)
      position: relative
      text-align: right
      font-style: normal
      font-weight: normal
      line-height: 140%
      color: $black

      strong
        color: $main-color

.tooltip
  position: absolute
  top: 10rem
  width: 100%
  left: 4rem

  @media (max-width: $sm)
    display: none

  &:hover
    .pizza__tooltip
      opacity: 1

    .tooltip__hover.plus
      &::before
        opacity: 1

  &__info
    position: relative

.tooltip
  position: relative

  &__hover
    +trans(all ease 0.3s)
    +circle(33px, #fff)
    position: absolute
    top: -1rem
    right: 19rem
    box-shadow: 0px 5px 19px 0px rgba(246, 91, 22, 0.2)

    &:hover
      +circle(33px, $main-color)

    &.plus
      background-image: url('../images/plus.svg')
      background-repeat: no-repeat
      background-position: center
      z-index: 1

      &::before
        +trans(all ease 0.3s)
        background-image: url('../images/tooltip.svg')
        background-repeat: no-repeat
        content: ""
        position: absolute
        top: -3rem
        right: -9rem
        width: 141px
        height: 41px
        z-index: 1
        opacity: .0
