.mobile
  &-button
    display: none
    justify-content: center
    flex-direction: column
    align-items: center
    background-color: transparent
    border: none
    width: 4.375rem /* 70/16 */
    height: 5rem /* 80/16 */
    cursor: pointer

    @media (max-width: $sm)
      +padding(1rem)
      display: flex
      order: 1
      align-items: flex-end

    &__line
      display: block
      width: 2.1875rem /* 35/16 */
      height: .1875rem /* 3/16 */
      background-color: $main-color
      margin: .25rem /* 4/16 */ 0
