.page
  +margin-bottom(7.5rem /* 120/16 */)
  min-height: 100vh

  @media (max-width: $sm)
    margin-bottom: 0
    min-height: auto

  &__content
    +rfs(20px)
    +margin-top(3.75rem /* 60/16 */)
    +margin-bottom(3.75rem /* 60/16 */)
    padding: .625rem /* 10/16 */
    position: relative
    font-family: 'Montserrat', sans-serif
    text-align: justify
    font-style: normal

    @media (max-width: $sm)
      text-align: center

    div
      +margin-bottom(.3125rem /* 5/16 */)
      width: 100%
