.social
  +margin-bottom(7.5rem /* 120/16 */)

  &--bg
    background: url('../images/social-bg.png') no-repeat center center scroll
    background-size: cover

    @media (max-width: $sm)
      background-size: 100%

  &__block
    +padding(2.5rem /* 40/16 */)
    display: flex
    justify-content: center
    align-items: center

  &__box
    +padding(1.25rem /* 20/16 */ 1.25rem /* 20/16 */)
    display: flex
    justify-content: center
    align-items: center
    width: 400px
    height: 180px
    background-color: $main-color
    border-radius: .9375rem /* 15/16 */
    box-shadow: 0px 65px 29px 0px rgba(246, 91, 22, 0.2)

    @media (max-width: $sm)
      width: 300px
      height: 125px
      box-shadow: 0px 35px 29px 0px rgba(246, 91, 22, 0.2)

    &-border
      +padding(2.5rem /* 40/16 */)
      border: 1px solid rgba(255, 255, 255, 0.2)
      border-radius: .9375rem /* 15/16 */

  &__text
    +rfs(24px)
    font-family: 'Montserrat', sans-serif
    font-style: normal
    font-weight: 300
    line-height: 29px
    text-align: center
    color: $white

    strong
      font-weight: 700
