@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
/* libraries */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #000000;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: #000000;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

/* libraries end */
* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 60rem;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 45.875rem;
  }

  .food .container {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    padding-top: 0;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    max-width: 100%;
  }
}
.cart__counter {
  position: fixed;
  right: 2.8125rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}
@media (max-width: 768px) {
  .cart__counter {
    right: 0.9375rem;
  }
}
.cart__circle {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.1);
}
.cart__circle img {
  max-width: 35px;
}
.cart--circle {
  background-color: #ffffff;
}
.cart__sum {
  position: absolute;
  right: -0.3125rem;
  bottom: -0.625rem;
}
.cart__number {
  background-color: #f69516;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.9375rem;
}

.cart-bag-ico {
  background: url("/images/cart-bag.svg") no-repeat left center;
}

.section {
  padding-top: calc(2.1875rem + 11.25vw);
}
@media (min-width: 1200px) {
  .section {
    padding-top: 10.625rem;
  }
}
.section.social {
  padding-top: 0;
}
.section.call {
  padding-top: 0;
}
@media (max-width: 768px) {
  .section {
    padding-top: calc(1.5rem + 3vw);
  }
}
@media (max-width: 768px) and (min-width: 1200px) {
  .section {
    padding-top: 3.75rem;
  }
}
.section__title {
  font-size: calc(1.425rem + 2.1vw);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 59px;
  text-align: center;
  color: #000000;
}
@media (min-width: 1200px) {
  .section__title {
    font-size: 3rem;
  }
}
.section--title {
  margin-bottom: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  .section--title {
    margin-bottom: 2.5rem;
  }
}

.header {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
.header--bg {
  min-height: 832px;
  background: url("../images/bg.png") no-repeat center center scroll;
  background-size: cover;
}
@media (max-width: 768px) {
  .header--bg {
    background-position: center right;
    min-height: 700px;
  }
}
.header__top {
  padding-top: calc(1.28125rem + 0.375vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1200px) {
  .header__top {
    padding-top: 1.5625rem;
  }
}
@media (max-width: 768px) {
  .header__top {
    padding-top: 0;
  }
}
@media (max-width: 768px) {
  .header__top .topmnu {
    display: none;
  }
}
.header__top .topmnu__link {
  transition: all ease 0.3s;
  font-size: 1rem;
  margin-right: calc(1.375rem + 1.5vw);
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  color: #000000;
}
@media (min-width: 1200px) {
  .header__top .topmnu__link {
    margin-right: 2.5rem;
  }
}
@media (max-width: 992px) {
  .header__top .topmnu__link {
    margin-right: 0.625rem;
  }
}
.header__top .topmnu__link:hover {
  text-decoration: underline;
}
.header__top .topmnu__link:last-child {
  margin-right: 0;
}
@media (max-width: 992px) {
  .header__top .topmnu__link:last-child {
    display: block;
  }
}
.header__top .logo {
  transition: all ease 0.3s;
}
@media (min-width: 1200px) {
  .header__top .logo {
    width: 180px;
  }
}
@media (max-width: 992px) {
  .header__top .logo {
    order: -1;
  }
}
@media (max-width: 768px) {
  .header__top .logo {
    width: 70px;
  }
}
.header__top .contact {
  transition: all ease 0.3s;
  display: flex;
  align-items: center;
}
.header__top .contact__workhours {
  margin-right: calc(1.4375rem + 2.25vw);
}
@media (min-width: 1200px) {
  .header__top .contact__workhours {
    margin-right: 3.125rem;
  }
}
@media (max-width: 768px) {
  .header__top .contact__workhours {
    display: none;
  }
}
@media (max-width: 992px) {
  .header__top .contact__workhours {
    display: none;
    margin-right: 0;
  }
}
.header__top .contact__phone {
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  line-height: 22px;
  color: #000000;
}
@media (max-width: 768px) {
  .header__top .contact__phone {
    font-size: 0.875rem;
  }
}
@media (max-width: 768px) {
  .header__top .contact__phone .callphone {
    margin-right: 0;
  }
}
.header__top .contact__phone .number {
  margin-top: -0.625rem;
}

.hero {
  padding-top: calc(1.90625rem + 7.875vw);
  position: relative;
  text-align: center;
}
@media (min-width: 1200px) {
  .hero {
    padding-top: 7.8125rem;
  }
}
.hero__title {
  font-size: calc(1.425rem + 2.1vw);
  margin-bottom: 1.125rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 59px;
  text-align: center;
  color: #000000;
}
@media (min-width: 1200px) {
  .hero__title {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .hero__title {
    line-height: 35px;
  }
}
.hero__subtitle {
  font-size: 1.125rem;
  margin-bottom: calc(1.75rem + 6vw);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  text-align: center;
  color: #000000;
}
@media (min-width: 1200px) {
  .hero__subtitle {
    margin-bottom: 6.25rem;
  }
}

.pizza__block {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.pizza__block img {
  max-width: 650px;
}
@media (max-width: 768px) {
  .pizza__block img {
    max-width: 350px;
  }
}
.pizza__tooltip {
  transition: all ease 0.3s;
  position: absolute;
  opacity: 0;
  text-align: right;
  top: -5rem;
  right: -3rem;
}
.pizza__tooltip--price {
  font-size: 1rem;
  position: relative;
  text-align: right;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  color: #000000;
}
.pizza__tooltip--price strong {
  color: #f69516;
}

.tooltip {
  position: absolute;
  top: 10rem;
  width: 100%;
  left: 4rem;
}
@media (max-width: 768px) {
  .tooltip {
    display: none;
  }
}
.tooltip:hover .pizza__tooltip {
  opacity: 1;
}
.tooltip:hover .tooltip__hover.plus::before {
  opacity: 1;
}
.tooltip__info {
  position: relative;
}

.tooltip {
  position: relative;
}
.tooltip__hover {
  transition: all ease 0.3s;
  width: 33px;
  height: 33px;
  background: #fff;
  border-radius: 16.5px;
  position: absolute;
  top: -1rem;
  right: 19rem;
  box-shadow: 0px 5px 19px 0px rgba(246, 91, 22, 0.2);
}
.tooltip__hover:hover {
  width: 33px;
  height: 33px;
  background: #f69516;
  border-radius: 16.5px;
}
.tooltip__hover.plus {
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
.tooltip__hover.plus::before {
  transition: all ease 0.3s;
  background-image: url("../images/tooltip.svg");
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: -3rem;
  right: -9rem;
  width: 141px;
  height: 41px;
  z-index: 1;
  opacity: 0;
}

.mobile-button {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
  width: 4.375rem;
  height: 5rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .mobile-button {
    padding: 1rem;
    display: flex;
    order: 1;
    align-items: flex-end;
  }
}
.mobile-button__line {
  display: block;
  width: 2.1875rem;
  height: 0.1875rem;
  background-color: #f69516;
  margin: 0.25rem 0;
}

.food {
  margin-bottom: calc(1.875rem + 7.5vw);
}
@media (min-width: 1200px) {
  .food {
    margin-bottom: 7.5rem;
  }
}
@media (max-width: 768px) {
  .food {
    margin-bottom: 0;
  }
}
.food--bg {
  min-height: 832px;
  background: url("../images/food-bg.svg") no-repeat top center;
  background-size: 100%;
  z-index: -1;
}
.food-categories__nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 480px) {
  .food-categories__nav {
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .food-categories__nav {
    justify-content: space-between;
  }
}
.food-categories__nav-link {
  transition: all ease 0.1s;
  font-size: 1rem;
  margin-right: 0.9375rem;
  padding: 0.9375rem calc(1.40625rem + 1.875vw);
  position: relative;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  background-color: #ECEEF6;
  border-radius: 1.875rem;
  line-height: 140%;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .food-categories__nav-link {
    padding: 0.9375rem 2.8125rem;
  }
}
@media (max-width: 480px) {
  .food-categories__nav-link {
    width: 45%;
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .food-categories__nav-link {
    width: 45%;
    margin-right: 0;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .food-categories__nav-link {
    margin-bottom: 0.5rem;
    text-align: center;
  }
}
.food-categories__nav-link:hover {
  color: #59AAF1;
}
.food-categories__nav-link:hover::before {
  width: 100%;
}
.food-categories__nav-link.active {
  color: #ffffff;
  background-color: #59AAF1;
}
.food-categories--nav {
  margin-bottom: calc(1.4375rem + 2.25vw);
}
@media (min-width: 1200px) {
  .food-categories--nav {
    margin-bottom: 3.125rem;
  }
}
.food-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 1200px) {
  .food-block {
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .food-block {
    justify-content: center;
  }
}
.food-block h4 {
  padding: calc(1.28125rem + 0.375vw) 0 calc(1.28125rem + 0.375vw);
  font-size: calc(1.28125rem + 0.375vw);
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  overflow-wrap: break-word;
}
@media (min-width: 1200px) {
  .food-block h4 {
    padding: 1.5625rem 0 1.5625rem;
  }
}
@media (min-width: 1200px) {
  .food-block h4 {
    font-size: 1.5625rem;
  }
}
.food-block__item {
  transition: all ease 0.3s;
  margin: 0 0.9375rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  border: 0.125rem solid #f69516;
  width: 22%;
  min-height: 25.9375rem;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #ECEEF7;
  border-radius: 15px;
}
@media (max-width: 1200px) {
  .food-block__item {
    margin: 0 0.9375rem;
    width: 29%;
  }
}
@media (max-width: 992px) {
  .food-block__item {
    margin: 0 0.9375rem;
    width: 29%;
  }
}
@media (max-width: 480px) {
  .food-block__item {
    text-align: center;
    flex-direction: row;
    width: 100%;
    min-height: auto;
  }
}
.food-block__item:hover {
  border-color: #f69516;
}
@media (max-width: 768px) {
  .food-block__item {
    min-height: auto;
    flex-direction: row;
    flex-basis: 100%;
    margin: 0;
  }
}
@media (max-width: 480px) {
  .food-block__item {
    flex-basis: 100%;
  }
}
.food-block__item .is-top {
  padding: 0.3125rem calc(1.28125rem + 0.375vw);
  position: absolute;
  top: 0.625rem;
  left: 1.1875rem;
  background-color: #f69516;
  border-radius: 0.3125rem;
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px 5px 19px 0px rgba(246, 91, 22, 0.2);
  overflow: hidden;
}
@media (min-width: 1200px) {
  .food-block__item .is-top {
    padding: 0.3125rem 1.5625rem;
  }
}
.food-block__item .is-discounted {
  padding: 0.3125rem calc(1.28125rem + 0.375vw);
  position: absolute;
  top: 0.625rem;
  right: 1.1875rem;
  background-color: #baaa94;
  border-radius: 0.3125rem;
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px 5px 19px 0px rgba(246, 91, 22, 0.2);
  overflow: hidden;
}
@media (min-width: 1200px) {
  .food-block__item .is-discounted {
    padding: 0.3125rem 1.5625rem;
  }
}
.food-block--item {
  margin-bottom: calc(1.31875rem + 0.825vw);
}
@media (min-width: 1200px) {
  .food-block--item {
    margin-bottom: 1.9375rem;
  }
}
.food-block__image {
  padding: calc(1.34375rem + 1.125vw) calc(1.40625rem + 1.875vw) 0;
}
@media (min-width: 1200px) {
  .food-block__image {
    padding: 2.1875rem 2.8125rem 0;
  }
}
@media (max-width: 480px) {
  .food-block__image {
    padding: 0;
    width: 120px;
    -o-object-fit: none;
       object-fit: none;
  }
}
@media (max-width: 768px) {
  .food-block__image {
    padding: 0;
    width: 120px;
    -o-object-fit: none;
       object-fit: none;
  }
}
.food-block__desc {
  padding: 0.9375rem;
  width: 100%;
}
@media (max-width: 480px) {
  .food-block__desc {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .food-block__desc {
    text-align: right;
  }
}
.food-block__desc .top {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.food-block__desc .top .title {
  font-size: 0.8125rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  color: #000000;
}
.food-block__desc .top .size {
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  text-align: right;
  color: #000000;
}
.food-block__desc .ingridients {
  margin-bottom: 1.1875rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  min-height: 80px;
  text-align: left;
  color: #000000;
}
.food-block__desc .price {
  font-size: calc(1.275rem + 0.3vw);
  margin-bottom: 1.1875rem;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  text-align: center;
  color: #f69516;
}
@media (min-width: 1200px) {
  .food-block__desc .price {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  .food-block__desc .price {
    text-align: right;
  }
}
@media (max-width: 768px) {
  .food-block__desc .price {
    text-align: right;
  }
}
.food-block__desc .price__discount {
  font-size: 0.875rem;
  text-decoration: line-through;
  font-weight: 400;
  color: #baaa94;
}
.food-block__desc .add {
  transition: all ease 0.3s;
  padding: 0.4375rem calc(1.34375rem + 1.125vw);
  background-color: #ECEEF7;
  border: 2px solid #cccccc;
  border-radius: 0.9375rem;
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  color: #000000;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .food-block__desc .add {
    padding: 0.4375rem 2.1875rem;
  }
}
.food-block__desc .add:hover {
  background-color: #f69516;
  color: #ffffff;
  box-shadow: 0px 5px 19px 0px rgba(246, 91, 22, 0.2);
}
.food-block__desc .add:hover .cart-ico {
  background: url("../images/add-cart-hover.svg") no-repeat left center;
}
@media (max-width: 768px) {
  .food-block__desc .add {
    padding: 0.4375rem 0.9375rem;
  }
}
.food__empty {
  margin: 0 auto;
  color: #000000;
}
.food__empty-text {
  font-size: calc(1.275rem + 0.3vw);
  margin-bottom: 1.1875rem;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  text-align: center;
  padding: 0.9375rem calc(1.40625rem + 1.875vw);
  background-color: #ECEEF6;
  box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1200px) {
  .food__empty-text {
    font-size: 1.5rem;
  }
}
.food__empty img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.cart-ico {
  background: url("../images/add-cart.svg") no-repeat left center;
  padding-left: 1.375rem;
}

.more-block {
  text-align: center;
}
.more-block .btn {
  transition: all ease 0.3s;
  font-size: 1.125rem;
  border: none;
  transition: all ease 0.1s;
  padding: 0.9375rem calc(1.40625rem + 1.875vw);
  position: relative;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  background-color: #f69516;
  box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.1);
  border-radius: 1.875rem;
  line-height: 140%;
  cursor: pointer;
  color: #ffffff;
}
.more-block .btn:hover {
  background-color: #e98809;
}

.loader__circle {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: #f69516;
  box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.1);
}

.social {
  margin-bottom: calc(1.875rem + 7.5vw);
}
@media (min-width: 1200px) {
  .social {
    margin-bottom: 7.5rem;
  }
}
.social--bg {
  background: url("../images/social-bg.png") no-repeat center center scroll;
  background-size: cover;
}
@media (max-width: 768px) {
  .social--bg {
    background-size: 100%;
  }
}
.social__block {
  padding: calc(1.375rem + 1.5vw);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .social__block {
    padding: 2.5rem;
  }
}
.social__box {
  padding: 1.25rem 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 180px;
  background-color: #f69516;
  border-radius: 0.9375rem;
  box-shadow: 0px 65px 29px 0px rgba(246, 91, 22, 0.2);
}
@media (max-width: 768px) {
  .social__box {
    width: 300px;
    height: 125px;
    box-shadow: 0px 35px 29px 0px rgba(246, 91, 22, 0.2);
  }
}
.social__box-border {
  padding: calc(1.375rem + 1.5vw);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.9375rem;
}
@media (min-width: 1200px) {
  .social__box-border {
    padding: 2.5rem;
  }
}
.social__text {
  font-size: calc(1.275rem + 0.3vw);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .social__text {
    font-size: 1.5rem;
  }
}
.social__text strong {
  font-weight: 700;
}

.call--bg {
  background: url("../images/call-bg.png") no-repeat center center scroll;
  background-size: cover;
}
.call__block {
  padding-top: calc(1.64375rem + 4.725vw);
  text-align: center;
}
@media (min-width: 1200px) {
  .call__block {
    padding-top: 5.1875rem;
  }
}
.call__block .section--title {
  margin-bottom: calc(1.3875rem + 1.65vw);
}
@media (min-width: 1200px) {
  .call__block .section--title {
    margin-bottom: 2.625rem;
  }
}
@media (max-width: 768px) {
  .call__block .section--title {
    line-height: 50px;
  }
}
.call__form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.call__input {
  font-size: 0.875rem;
  padding: 0.9375rem calc(1.40625rem + 1.875vw);
  margin-right: calc(1.375rem + 1.5vw);
  margin-bottom: 0.9375rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ECEEF6;
  border-radius: 3.6875rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  color: #222222;
}
@media (min-width: 1200px) {
  .call__input {
    padding: 0.9375rem 2.8125rem;
  }
}
@media (min-width: 1200px) {
  .call__input {
    margin-right: 2.5rem;
  }
}
@media (max-width: 768px) {
  .call__input {
    display: block;
    margin-right: 0;
  }
}
.call__btn {
  font-size: 1.125rem;
  transition: all ease 0.3s;
  padding: 0.9375rem calc(1.40625rem + 1.875vw);
  border: 1px solid #ECEEF6;
  border-radius: 3.6875rem;
  background: linear-gradient(180deg, #f69516 0%, #F23F0E 100%), #59AAF1;
  box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .call__btn {
    padding: 0.9375rem 2.8125rem;
  }
}
.call__btn:hover {
  background: linear-gradient(180deg, #F23F0E 0%, #f69516 100%), #59AAF1;
  box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
}
.call__loader {
  width: 25px;
  margin-left: 0.9375rem;
  vertical-align: middle;
}
.call__success {
  font-size: calc(1.28125rem + 0.375vw);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  width: 450px;
  color: green;
  margin: 0 auto;
  margin-bottom: 1rem;
}
@media (min-width: 1200px) {
  .call__success {
    font-size: 1.5625rem;
  }
}
@media (max-width: 768px) {
  .call__success {
    width: 100%;
  }
}

.call-ico {
  background: url("../images/button.svg") no-repeat left center;
  padding-left: 2.1875rem;
  margin-left: 1.5625rem;
}

.car__block {
  margin-top: calc(1.65rem + 4.8vw);
  text-align: center;
}
@media (min-width: 1200px) {
  .car__block {
    margin-top: 5.25rem;
  }
}
.car__block img {
  max-width: 100%;
}

.page {
  margin-bottom: calc(1.875rem + 7.5vw);
  min-height: 100vh;
}
@media (min-width: 1200px) {
  .page {
    margin-bottom: 7.5rem;
  }
}
@media (max-width: 768px) {
  .page {
    margin-bottom: 0;
    min-height: auto;
  }
}
.page__content {
  font-size: 1.25rem;
  margin-top: calc(1.5rem + 3vw);
  margin-bottom: calc(1.5rem + 3vw);
  padding: 0.625rem;
  position: relative;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  font-style: normal;
}
@media (min-width: 1200px) {
  .page__content {
    margin-top: 3.75rem;
  }
}
@media (min-width: 1200px) {
  .page__content {
    margin-bottom: 3.75rem;
  }
}
@media (max-width: 768px) {
  .page__content {
    text-align: center;
  }
}
.page__content div {
  margin-bottom: 0.3125rem;
  width: 100%;
}

.footer {
  padding-bottom: calc(1.46875rem + 2.625vw);
}
@media (min-width: 1200px) {
  .footer {
    padding-bottom: 3.4375rem;
  }
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer__bottom {
    flex-direction: column;
  }
}
.footer__company {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}
@media (max-width: 768px) {
  .footer__company {
    margin-bottom: calc(1.3125rem + 0.75vw);
  }
}
@media (max-width: 768px) and (min-width: 1200px) {
  .footer__company {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 768px) {
  .footer__logo {
    margin-bottom: calc(1.3125rem + 0.75vw);
  }
}
@media (max-width: 768px) and (min-width: 1200px) {
  .footer__logo {
    margin-bottom: 1.875rem;
  }
}
.footer__copyright {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: #000000;
}
