*
  box-sizing: border-box

.container
  max-width: $design-width
  margin: auto

@media (max-width: $lg)
  .container
    max-width: 60rem /* 960/16 */

@media (max-width: $md)
  .container
    max-width: 45.875rem /* 750/16 */

  .food
    .container
      max-width: 100%

@media (max-width: $sm)
  .container
    +padding-top(0)
    +padding-left(15px)
    +padding-right(15px)
    max-width: 100%