.cart
  &__counter
    position: fixed
    right: 2.8125rem /* 45/16 */
    top: 50%
    transform: translateY(-50%)
    z-index: 3

    @media (max-width: $sm)
      right: .9375rem /* 15/16 */

  &__circle
    width: 70px
    height: 70px
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    border-radius: 50%
    box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.1)

    img
      max-width: 35px

  &--circle
    background-color: $white

  &__sum
    position: absolute
    right: -.3125rem /* 5/16 */
    bottom: -.625rem /* 10/16 */

  &__number
    background-color: $main-color
    font-family: 'Montserrat', sans-serif
    font-style: normal
    font-weight: bold
    line-height: 140%
    text-align: center
    color: $white
    padding: .3125rem /* 5/16 */ .625rem /* 10/16 */
    border-radius: .9375rem /* 15/16 */

.cart-bag-ico
  background: url('/images/cart-bag.svg') no-repeat left center
