.section
  +padding-top(10.625rem /* 170/16 */)

  &.social
    padding-top: 0

  &.call
    padding-top: 0

  @media (max-width: $sm)
    +padding-top(3.75rem /* 60/16 */)

  &__title
    +rfs(48px)
    font-family: 'Montserrat', sans-serif
    font-style: normal
    font-weight: bold
    line-height: 59px
    text-align: center
    color: $black

  &--title
    +margin-bottom(40px)
